.info-backg{
    background-color: #fbecea;
}
.btn-back{
    color: #fbecea;
    font-weight: 900;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    padding: 10px 25px;
}

;
}